/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


 html {
	height: 100% !important;
}

body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	background-color: #E9E9E7;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
    /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

p {
	font: 14px/1.5em "Roboto";
}

/* END */

/* Header & Nav */

#header {
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	z-index: 99999;
}

#nav {
	width: 100%;
	height: 100%;
	background-color: #253939;
}

/* end */

/* Navigation panel */

.nav-panel {
	width: 60%;
	height: 100%;
	float: left;
}

#website-logo {
	height: 100%;
	float: left;
	background-color: #FF8B6B;
}

.search-tutor {
	width: calc(100% - 280px); /* 235px logo + 45px search icon*/
	height: 100%;
	line-height: 50px;
	float: left;
}

.search-field {
	width: 100%;
	height: 65px;
	padding: 14px;
	border: 0;
	outline: none; /* removes Chrome form field outline */
	font-size: 16px;
	background-color: #253939;
	color: #fff;
}

.search-icon {
	width: 45px;
	height: 65px;
	float: left;
	position: relative;
}

.search-icon img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.search-button {
	padding: 10px;
	margin: 0 10px;
	background-color: #fff;
	outline: none; /* removes Chrome form field outline */
	border: none;
}

/* end */

/* Navigation links */

ul#nav-links {
	width: 40%;
	float: right;
	height: 100%;
}

ul#nav-links li,
.nav-current-link,
#nav-links a {
	width: 33.333333%;
	float: left;
	height: 100%;
	position: relative;
	line-height: 65px;
	text-align: center;
	font-weight: 500;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

ul#nav-links li img {
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -12px;
}

#nav-links a {
	width: 100%;
}

#nav-links li:hover {
	background-color: #FF8B6B;
}

.nav-current-link {
	width: 100%;
	background-color: #FF8B6B;
}

.user-list-triangle {

}

/* end */

/* User setting panel */

ul#nav-links li.user-open-panel:hover {
	background-color: #25A9DF;
	cursor: pointer;
}

li.user-open-panel {
	position: relative;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.user-setting-panel {
	width: 100%;
	position: absolute;
	bottom: -195px;
	color: #000;
	display: none;
	background-color: #25A9DF;
}

.user-setting-panel a {
	width: 100%;
	height: 65px;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.user-setting-panel a:hover {
	background-color: #FF8B6B;
}

/* end */

/* Google map */

#google-map-wrapper {
	width: 60%;
	float: left;
	height: calc(100% - 65px);
	position: fixed;
	top: 65px;
	z-index: 9999;
}

#map {
	width: 100%;
	height: 100%;
}

/* Geocomplete, search location autocomplete */

.pac-container {
	background-color: #253939;
	color: #fff;
	border: 0;
	z-index: 999999;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
    padding: 0;
    margin: 0;
}

.pac-item {
	padding: 8px 10px;
	border: 0;
}

.pac-item:hover {
	color: #444;
}

.pac-item-query {
	font-size: 14px;
	color: #f9f9f9;
}

.pac-item:hover .pac-item-query {
	color: #444;
}

/* end */
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?qtrujg');
    src:    url('fonts/icomoon.eot?qtrujg#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?qtrujg') format('truetype'),
        url('fonts/icomoon.woff?qtrujg') format('woff'),
        url('fonts/icomoon.svg?qtrujg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
    content: "\e900";
}

/* New tutor */
/* line 7, /home/vitalijus/mbfund/app/assets/stylesheets/tutors.css.scss */
#new-tutor-wrapper {
  width: 900px;
  margin: auto;
  margin-top: 85px;
  padding: 20px;
  background-color: #fff;
  border-top: 2px solid #25A9DF;
  border-right: 2px solid #25A9DF;
  border-left: 2px solid #25A9DF;
}

/* line 18, /home/vitalijus/mbfund/app/assets/stylesheets/tutors.css.scss */
.new-tutor-submit {
  width: 900px;
  margin: auto;
  height: 50px;
  text-align: center;
}

/* line 25, /home/vitalijus/mbfund/app/assets/stylesheets/tutors.css.scss */
.new-tutor-button {
  width: 100%;
  height: 100%;
  background-color: #25A9DF;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}
/* line 1, /home/vitalijus/mbfund/app/assets/stylesheets/users/edit.css.scss */
#edit-user-wrapper {
  width: 900px;
  margin: auto;
  margin-top: 85px;
  padding: 20px;
  background-color: #fff;
  border-top: 2px solid #25A9DF;
  border-left: 2px solid #25A9DF;
  border-right: 2px solid #25A9DF;
}

/* line 12, /home/vitalijus/mbfund/app/assets/stylesheets/users/edit.css.scss */
.edit-user-submit {
  width: 900px;
  height: 50px;
  margin: auto;
}

/* line 18, /home/vitalijus/mbfund/app/assets/stylesheets/users/edit.css.scss */
.edit-user-button {
  width: 100%;
  height: 100%;
  background-color: #25A9DF;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
}
/* Notification */
/* line 3, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
#notice {
  background-color: #f27073;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* List of users */
/* line 12, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
#user-list {
  width: 40%;
  float: right;
  margin-top: 65px;
}

/* line 18, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
#user-list ul {
  padding-bottom: 30px;
}

/* line 22, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
#user-list li {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

/* line 29, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
#user-list li:first-child {
  padding-top: 22px;
}

/* line 33, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
#user-list li:last-child {
  border-bottom: 0;
}

/* line 37, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
#user-list li a {
  color: #555;
}

/* line 41, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
#user-list li:hover {
  background-color: #ffefe5;
}

/* line 45, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-content {
  width: 100%;
  display: inline-block;
}

/* line 50, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-title {
  width: 100%;
  display: inline-block;
  font-size: 21px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #555;
  font-family: 'Merriweather Sans', sans-serif;
  border: 0px solid #555;
}

/* line 61, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-title-icon {
  float: right;
  padding: 0 3px 0 3px;
  position: relative;
  border: 0px solid red;
}

/* line 68, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-title-icon-hover {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #253939;
  color: #fff;
  font-size: 10px;
  padding: 2px 4px;
  display: none;
}

/* line 80, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-title-icon:hover .user-list-title-icon-hover {
  display: block;
}

/* line 84, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-info {
  width: 100%;
  display: table;
}

/* line 90, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-data,
.user-list-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
}

/* line 97, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-data-number {
  font-size: 18px;
}

/* line 101, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-data-text {
  font-size: 12px;
  color: #888;
}

/* line 106, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.icon-email:before {
  color: #f38083;
  font-size: 35px;
  content: "\e900";
  -webkit-transition: color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
}

/* line 118, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-data-email:hover .icon-email:before {
  color: #F16164;
}

/* line 122, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-image {
  width: 65px;
  text-align: left;
}

/* line 127, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-about-me {
  margin-top: 6px;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #666;
  font-family: 'Montserrat', sans-serif;
  border: 0px solid red;
}

/* line 137, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-subject-keywords {
  margin-top: 7px;
  border: 0px solid red;
}

/* line 142, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-subject-keyword {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background-color: #FF8B6B;
  padding: 3px 5px;
  color: #fff;
  border: 0px solid red;
}

/* line 153, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-subjects {
  margin-top: 10px;
  border: 0px solid red;
}

/* line 158, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-subject {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #f4f4f4;
}

/* line 165, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.user-list-subject:last-child {
  margin-bottom: 0;
}

/*.push-button {
	border: 1px solid red;
}

.test {
	height: 50px;
	background-color: #fff;
	padding: 10px;
	display: none;
	border: 0px solid red;
}*/
/* end */
/* Search filter */
/* line 185, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
#search-filter-wrapper {
  width: 40%;
  height: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #25A9DF;
}

/* .hide-search {
	visibility: hidden;
} */
/* line 198, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.search-filter-title {
  width: 70%;
  height: 100%;
  line-height: 35px;
  float: left;
  padding: 0 0 0 20px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

/* line 211, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.search-filter-open {
  width: 30%;
  height: 100%;
  line-height: 35px;
  float: left;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  background-color: #25A9DF;
}

/* line 226, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.search-filter-open img {
  position: absolute;
  right: 33px;
  top: 13px;
}

/* line 232, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.search-filter-panel {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -230px;
  display: none;
  z-index: 999999;
  background-color: #fff;
}

/* line 242, /home/vitalijus/mbfund/app/assets/stylesheets/users/index.css.scss */
.search-filter-close {
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: -30px;
  cursor: pointer;
  text-align: center;
  background-color: #25A9DF;
}

/* end */
/* line 1, /home/vitalijus/mbfund/app/assets/stylesheets/users/landing_page.css.scss */
#landing-page-wrapper {
  width: 960px;
  margin: auto;
  margin-top: 85px;
  position: relative;
  background-color: #253838;
  padding: 20px;
}

/* line 10, /home/vitalijus/mbfund/app/assets/stylesheets/users/landing_page.css.scss */
.landing-logo {
  position: absolute;
  top: -57px;
  left: 50%;
  margin-left: -115px;
}
/* line 1, /home/vitalijus/mbfund/app/assets/stylesheets/users/show.css.scss */
#user-show-wrapper {
  width: 900px;
  margin: auto;
  margin-top: 85px;
}

/* line 7, /home/vitalijus/mbfund/app/assets/stylesheets/users/show.css.scss */
.user-show-profile {
  background-color: #fff;
  margin-bottom: 20px;
}

/* line 12, /home/vitalijus/mbfund/app/assets/stylesheets/users/show.css.scss */
.user-show-subject {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  border: 0px solid red;
}
/* line 1, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
#user-form-wrapper {
  width: 700px;
  margin: auto;
  margin-top: 100px;
  background-color: #fff;
  border-top: 2px solid #25A9DF;
  border-right: 2px solid #25A9DF;
  border-left: 2px solid #25A9DF;
}

/* line 11, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
#user-form-fields {
  padding: 40px;
}

/* line 15, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
.user-field-wrapper {
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 20, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
.user-field {
  width: 65%;
  height: 50px;
  padding: 12px;
  font-size: 14px;
  float: left;
  outline: none;
  /* removes Chrome form field outline */
  background-color: #FDFDFD;
  border: 1px solid #E5E5E5;
}

/* line 31, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
.user-label {
  width: 35%;
  height: 100%;
  font-size: 16px;
  line-height: 50px;
  float: left;
  font-weight: 500;
}

/* line 40, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
.user-sign-wrapper {
  width: 700px;
  height: 50px;
  margin: auto;
}

/* line 46, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
.user-submit-button {
  width: 100%;
  height: 100%;
  background-color: #4485F5;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

/* line 63, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
.user-submit-button:hover {
  background-color: #3d77dc;
}

/* line 67, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
.user-cancel-button {
  font-size: 14px;
  border: none;
  margin-top: 20px;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

/* line 79, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
.user-cancel-button a {
  color: #777;
}

/* line 83, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
.user-cancel-button a:hover {
  color: #4485F5;
}

/* line 87, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
#user-remember-me {
  margin-bottom: 20px;
  border: 0px solid red;
}

/* validation errors */
/* line 94, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
#error_explanation h2 {
  display: none;
}

/* line 98, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
#error_explanation ul {
  padding: 10px 20px 0 20px;
}

/* line 102, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
#error_explanation li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8b0b1;
  color: #a84346;
  border: 1px solid #f16164;
}

/* line 110, /home/vitalijus/mbfund/app/assets/stylesheets/users/user.css.scss */
#error_explanation li:last-child {
  margin-bottom: 0;
}
