/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

@import "font-awesome";

html {
	height: 100% !important;
}

body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	background-color: #E9E9E7;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
    /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

p {
	font: 14px/1.5em "Roboto";
}

/* END */

/* Header & Nav */

#header {
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	z-index: 99999;
}

#nav {
	width: 100%;
	height: 100%;
	background-color: #253939;
}

/* end */

/* Navigation panel */

.nav-panel {
	width: 60%;
	height: 100%;
	float: left;
}

#website-logo {
	height: 100%;
	float: left;
	background-color: #FF8B6B;
}

.search-tutor {
	width: calc(100% - 280px); /* 235px logo + 45px search icon*/
	height: 100%;
	line-height: 50px;
	float: left;
}

.search-field {
	width: 100%;
	height: 65px;
	padding: 14px;
	border: 0;
	outline: none; /* removes Chrome form field outline */
	font-size: 16px;
	background-color: #253939;
	color: #fff;
}

.search-icon {
	width: 45px;
	height: 65px;
	float: left;
	position: relative;
}

.search-icon img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.search-button {
	padding: 10px;
	margin: 0 10px;
	background-color: #fff;
	outline: none; /* removes Chrome form field outline */
	border: none;
}

/* end */

/* Navigation links */

ul#nav-links {
	width: 40%;
	float: right;
	height: 100%;
}

ul#nav-links li,
.nav-current-link,
#nav-links a {
	width: 33.333333%;
	float: left;
	height: 100%;
	position: relative;
	line-height: 65px;
	text-align: center;
	font-weight: 500;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

ul#nav-links li img {
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -12px;
}

#nav-links a {
	width: 100%;
}

#nav-links li:hover {
	background-color: #FF8B6B;
}

.nav-current-link {
	width: 100%;
	background-color: #FF8B6B;
}

.user-list-triangle {

}

/* end */

/* User setting panel */

ul#nav-links li.user-open-panel:hover {
	background-color: #25A9DF;
	cursor: pointer;
}

li.user-open-panel {
	position: relative;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.user-setting-panel {
	width: 100%;
	position: absolute;
	bottom: -195px;
	color: #000;
	display: none;
	background-color: #25A9DF;
}

.user-setting-panel a {
	width: 100%;
	height: 65px;

	-webkit-transition: background-color 150ms linear;
  	-moz-transition: background-color 150ms linear;
  	-o-transition: background-color 150ms linear;
  	-ms-transition: background-color 150ms linear;
  	transition: background-color 150ms linear;
}

.user-setting-panel a:hover {
	background-color: #FF8B6B;
}

/* end */

/* Geocomplete, search location autocomplete */

.pac-container {
	background-color: #253939;
	color: #fff;
	border: 0;
	z-index: 999999;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
    padding: 0;
    margin: 0;
}

.pac-item {
	padding: 8px 10px;
	border: 0;
}

.pac-item:hover {
	color: #444;
}

.pac-item-query {
	font-size: 14px;
	color: #f9f9f9;
}

.pac-item:hover .pac-item-query {
	color: #444;
}

/* end */