#landing-page-wrapper {
	width: 960px;
	margin: auto;
	margin-top: 85px;
	position: relative;
	background-color: #253838;
	padding: 20px;
}

.landing-logo {
	position: absolute;
	top: -57px;
	left: 50%;
	margin-left: -115px;
}