#user-show-wrapper {
	width: 900px;
	margin: auto;
	margin-top: 85px;
}

.user-show-profile {
	background-color: #fff;
	margin-bottom: 20px;
}

.user-show-subject {
	width: 50%;
	display: inline-block;
	margin-right: -4px;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	vertical-align: top;
	border: 0px solid red;
}